:root{
    --body-background-color: #F4F4F4;
    --white: #FFFFFF;
    --blue: #787EFF;
    --dark-color: #1E1E1E;
    --header-color: #3C3B3B;
    --paragraph-color: #77858F;
    --tgl-btn-lines: #9ba2a7;
    --border-color: #E2E2E2;

}

*{
    color: var(--dark-color);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.blue-hover:hover{
    color: var(--blue);
}
.spaced{
    letter-spacing: 4px;
}

.center-x-y{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

body{
    background-color: var(--body-background-color);
}

.blog-page{
    position: absolute;
}

.flex-horizontal{
    display: flex;
    flex-direction: row;
}

.flex-horizontal-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header{
    overflow-y: hidden;
    background-color: var(--white);
    width: 100vw;
    position: fixed;
    border: 1px solid var(--border-color);
}
.header-name{
    font-weight: 600;
    font-size: .8rem;
}

.header-name::after{
    position: absolute;
    content: "";
    height: 3rem;
    width: 1px;
    margin: -1rem 1rem 0;
    background-color: var(--border-color);
}
.links{
    /* background-color: royalblue; */
    margin: auto 1rem;
}
.hide-on-mobile{
    display: none;
}

.toggle-btn-div{
    /* background-color: rebeccapurple; */
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 .6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.toggle-btn-lines{
    background-color: var(--tgl-btn-lines);
    width: 50%;
    height: 3px;
    border-radius: 10px;
    margin: 2px auto;
}

/* banner */
/* NSTP-T59 PROJECT */
      /* SAD */

.large-header{
    /* background-color: red; */
    margin: 2.6rem 0 -3rem;
    width: 100vw;
    padding: 4rem 0;
}

h1{
    font-size: 1.2rem;
    color: var(--header-color);
    text-transform: uppercase;
    font-weight: 800;
}

p{
    margin-top: 1.5rem;
    font-size: .6rem;
    color: var(--paragraph-color);
    text-transform: uppercase;
}

/* blogs */
/* article */

/* #body{
    background-color: teal;
    height: 100vh;
    width: 100vw;
} */

article{
    border: 1px solid var(--border-color);
    background-color: var(--white);
    width: 100vw;
    margin-top: 3rem;
    padding-top: 3rem;
}

article > div{
    padding: 0 1rem;
}

.article-header{
    display: flex;
    flex-direction: column;
}

.article-header > div{
    text-align: center;
    padding: 1rem 0;
}
h2{
    color: var(--header-color);
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

.article-content{
    padding: 0;
}

.author-name{
    color: var(--header-color);
    font-weight: 700;
    margin: 0;
    display: none;
}

.publisher{
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
}

.publisher-timestamp{
    margin: 0;
    color: var(--header-color);
    font-weight: 800;
}

.author-image{
    height: 2rem;
    width: 2rem;
    margin: .8rem auto .3rem;
    border-radius: 100px;
}

.article-p{
    text-transform: unset;
    letter-spacing: 1px;
    line-height: 1.1rem;
    margin: 0 1rem;
    font-weight: 500;
    color: var(--header-color);
}

.article-content-img{
    width: 100%;
    margin: 0 0 2rem;
}

.article-footer{
    height: unset;
    padding: 2rem 1rem;
}

.article-footer-button{
    width: 100%;
    padding: 1rem 0;
    border: 1px solid var(--border-color);
    color: var(--header-color);
    font-weight: 800;
    letter-spacing: 3px;
    font-size: .6rem;
    background-color: var(--white);
}

.article-footer > div{
    margin-top: 1rem;
    text-align: center;
}

.fas{
    font-size: .6rem;
    margin: 1rem;
    color: var(--tgl-btn-lines);
}

.after::after{
    position: absolute;
    content: "";
    height: 1rem;
    width: 1px;
    margin: -.2rem 1rem 0;
    background-color: var(--border-color);
}


footer{
    height: 10rem;
}

/* side nav */

.mobile-side-nav-filter{
    position: fixed;
    z-index: 50;
    transition: all ease-in-out 300ms;
    width: 0;
    height: 100vh;
}

.mobile-side-nav{
    position: fixed;
    right: 0;
    background-color: var(--white);
    height: 100vh;
    width: 60vw;
    transition: all ease-in-out 300ms;
    margin-right: -50rem
}

.mobile-side-nav-div{
    border: .5px solid var(--border-color);
    padding: 1rem;
}

.mobile-side-nav-button{
    width: 100%;
    border: none;
    height: 2rem;
    margin: .3rem 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: .6rem;
    color: var(--header-color);
    border: 1px solid var(--border-color);
    
    background-color: var(--white);
}

.mobile-search-input{
    padding-left: 15%;
    width: 85%;
}

.fa-search{
    font-size: 1rem;
    position: absolute;
    left: .6rem;
    top: 3.4rem;
}

.mobile-links{
    border-bottom: 1px dotted var(--border-color);
    padding: .5rem 0 2rem;
    margin: .25rem 0;
    letter-spacing: 2px;
    font-size: .7rem;
    color: var(--header-colo);
    font-weight: 600;
}

@media only screen and (min-width: 411px) {
    .publisher{
        display: flex;
        flex-direction: row;
        
        justify-content: center;
    }

    .publisher-timestamp{
        margin: auto 0;
        font-weight: 500;
        font-size: .5rem;
        /* background-color: teal; */
    }

    .publisher-timestamp::after{
        position: absolute;
        content:"";
        background-color: var(--border-color);
        width: 1px;
        height: 1.5rem;
        margin: -.4rem .5rem 0;
    }

    .author-info{
        /* background-color: wheat; */
        display: flex;
        flex-direction: row-reverse;
    }
    .author-name{
        margin: auto 0;
        display: unset;
        font-weight: 700;
        font-size: .5rem;
        color: var(--header-color);
    }

    .author-image{
        margin: 0 1rem;
    }
  }


@media only screen and (min-width: 540px) {
  
    .header-name{
        font-size: .9rem;
    }

    .toggle-btn-div{
    /* background-color: rebeccapurple; */
    height: 3rem;
    width: 3rem;
}

    .large-header{
        padding: 8rem 0;
    }

    .article-header, .article-content, .article-footer{
        padding: 0 2rem;
    }

    .publisher-timestamp{
        margin: auto 0;
        font-weight: 500;
        font-size: .7rem;
        /* background-color: teal; */
    }

    .author-info{
        /* background-color: wheat; */
        display: flex;
        flex-direction: row-reverse;
    }
    .author-name{
        margin: auto 0;
        display: unset;
        font-weight: 700;
        font-size: .7rem;
        color: var(--header-color);
    }

    .article-p{
        margin: 0;
        font-size: .8rem;
        line-height: 1.5rem;
    }

    .article-footer{
        padding: 2rem;
        display: flex;
        justify-content: space-between;

    }

    .article-footer-button{
        width: 13rem;
    }

    .article-footer > div{
        margin: 0 2rem;
    }

    .fa-search{
        margin: 1.9rem 0 0 2.3rem;
    }

    .mobile-side-nav-div{
        padding: 1rem 2rem;
    }

    .mobile-side-nav-button{
        height: 2.8rem;
        font-size: .8rem;
    }

    .mobile-links{
        font-size: .8rem;
    }

}

@media only screen and (min-width: 768px){
    

}
@media only screen and (min-width: 1024px){

    .show-on-mobile{
        display: none;
    }

    .header-name{
        padding: 0 1rem;
        margin-right: 3rem;
    }

    .header-name::after{
        margin: -1.5rem 2rem 0;
        height: 4rem;
        
    }

    .hide-on-mobile{
        display: unset;
        margin-right: 2rem;
    }

    .after::after{
        height: 1.5rem;
        margin: -.2rem 1rem 0;
        
    }

    .header-btn-nav{
        padding: .5rem 0;
    }

    .header-button{
        height: 2.8rem;
        width: 7rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }



}













